In [3]:
import yfinance as yf

In [8]:
# Especifique o símbolo da empresa que você vai trabalhar 
# Configure data de início e fim da sua base 
 
symbol = 'PETR4.SA' 
start_date = '2018-01-01' 
end_date = '2024-08-31'

In [9]:
# Use a função download para obter os dados 
df = yf.download(symbol, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head()

Price      Adj Close      Close       High        Low       Open    Volume
Ticker      PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2018-01-02  5.312316  16.549999  16.549999  16.190001  16.190001  33461800
2018-01-03  5.360464  16.700001  16.719999  16.370001  16.490000  55940900
2018-01-04  5.370093  16.730000  16.959999  16.620001  16.780001  37064900
2018-01-05  5.402192  16.830000  16.860001  16.570000  16.700001  26958200
2018-01-08  5.466390  17.030001  17.030001  16.709999  16.740000  28400000

In [19]:
cols = [x[0] for x in df.columns]

In [20]:
cols

['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

In [21]:
df.columns = cols

In [24]:
df = df.reset_index()

In [25]:
df.head()

        Date  Adj Close      Close       High        Low       Open    Volume
0 2018-01-02   5.312316  16.549999  16.549999  16.190001  16.190001  33461800
1 2018-01-03   5.360464  16.700001  16.719999  16.370001  16.490000  55940900
2 2018-01-04   5.370093  16.730000  16.959999  16.620001  16.780001  37064900
3 2018-01-05   5.402192  16.830000  16.860001  16.570000  16.700001  26958200
4 2018-01-08   5.466390  17.030001  17.030001  16.709999  16.740000  28400000

In [27]:
df["Acao"] = "PETR4"

In [28]:
df.to_csv(r"C:\Users\lucaa\Desktop\Pastas Gerais\Pós Tech Data Analytics\Tech Challenge\TechChallenge - Fase4\data\raw\dataset_PETR_st.csv", index = False)